.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: .7;
}
.modal-image-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-image-title {
  background: #000;
}
.modal-image-title h3 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
.modal-image-overlay img {
  width: 50vh;
}