.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #000;
  opacity: .9;
}
.modal-image-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-image-container {
  width: 100vw;
}
.modal-image-title {
  background: #000;
  text-align: center;
}
.modal-image-title h3 {
  color: #fff;
  font-size: 5vh;
  padding: 20px 0;
  margin: 0 0 40px
}
.modal-image-overlay img {
  width: 50vh;
  display: block;
  margin: auto;
}