.product-list {
  margin: 0 0 25px;
}
.filter-input {
  margin: 25px 0 40px;
}
label {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249,157,28);
}
input {
  font-weight: normal;
  margin: 0 10px;
}
.clear-button {
  width: 90px;
  height: 30px;
  background: rgba(249,157,28,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: .75px;
}
.clear-button:hover {
  background:rgba(249,157,28,0.75);  
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 875px;
  margin: 15px auto 0;
}
.products a:hover {
  text-decoration: none;
}
.product {
  width: 100%;
  max-width: 420px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px 25px;
  border: 1px solid #000;
  padding: 19px 19px;
  border-radius: 5px;
  transition: all .175s ease-in-out;
}
.product:hover {
  border-width: 5px;
  border-radius: 15px;
  padding: 15px 15px;
  border-color: rgba(249,157,28,0.9);
}
.product:hover .star-rating {
  color: #fff !important;
}
.product img {
  cursor: pointer;
}
.product-details h3 {
  margin: 0 0 5px;
}
.product-details p {
  margin: 0 0 5px;
}

.product.showImage {
  max-width: 500px;
}

.product-list .product-count {
  font-size: 20px;
  font-weight: 800;
  color: rgb(249,157,28);
}

@media screen and (max-width: 768px) {
  .product {
    margin: 0 auto 25px;
  }
}

@media screen and (max-width: 604px) {
  .product {
    width: 95%;
  }
}