.nav-container {
  padding: 25px 0;
  background: rgba(249,157,28,0.9);
}
.nav-container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 200px;
}
.nav-container a {
  color: #fff !important;
}