.nav-container {
  padding: 25px 0;
  background: rgba(249,157,28,0.9);
  position: fixed;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
  z-index: 100;
}
.nav-container ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 280px;
}

.nav-container li {
  font-size: x-large;
  font-weight: 800;
  letter-spacing: 1px;
}
.nav-container li a.active {
  text-decoration: underline;
}

.nav-container a {
  color: #004f5a !important;
}