.reviews-container {
  width: 90%;
  max-width: 625px;
  margin: auto;
}
.review-details {
  display: flex;
}
.review-body {
  text-align: left;
}

textarea {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
}
.star-container.review-modal {
  margin-bottom: 5px;
}
.review-modal .glyphicon-star {
  color: #bdc3c7;
  font-size: 30px;
  cursor: pointer;
}
.review-modal .glyphicon-star.whole {
  position: relative;
}
.review-modal .glyphicon-star.whole:before {
  position: relative;
  z-index: 9;
  width: 100%;
  display: block;
  overflow: hidden;
}
.review-modal .glyphicon-star.whole:after {
  content: '\e006';
  position: absolute;
  z-index: 10;
  color: #e67e22;
  top: 0;
  left: 0;
}

.reviews-container {
  padding: 10px 25px 0;
  border: 2px solid rgba(249,157,28,1);
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 50px;
}
.reviews-container h2 {
  font-weight: 800;
  color: rgba(249,157,28,1);
  margin: 0;
  margin-bottom: 20px;
}
.review-details pm-star {
  margin-left: -15px;
  margin-right: 15px;
}
.submit-review, .add-review {
  cursor: pointer;
  font-weight: 800;
  letter-spacing: .75px;
  width: 150px;
  height: 35px;
  background: rgba(249,157,28,0.9);
  color: #fff;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  transition: all .3s;
}
.submit-review:hover, .add-review:hover {
  background: rgba(249,157,28,0.75)
}
