<div class="product-list" style="text-align: center">
  <page-title [pageTitle]="pageTitle"></page-title>
  <div class="filter-input">
    <label>
      Filter By
      <input [(ngModel)]="listFilter" type="text">
      <button (click)="clearFilter()">Clear Filter</button>
    </label>
  </div>
  <div class="products" *ngIf="filteredProducts && filteredProducts.length">
    <div *ngFor="let product of filteredProducts" class="product">
      <a [routerLink]="['/products', product.productId]">
        <div class="product-details">
          <h3>{{ product.productName }}</h3>
          <p>{{ product.price | currency: 'USD' : true }}</p>
          <div class="star-rating"><pm-star [rating]="product.starRating"></pm-star></div>
        </div>
      </a>
      <p>{{ product.description }}</p>
      <img *ngIf="showImage" [src]="product.imageUrl" (click)="handleImageClick(product.imageUrl, product.productName)" [alt]="product.productName" style="width: 20%; max-width: 100px;">
    </div>
  </div>
  <div *ngIf="!filteredProducts.length">
    No Products Found
  </div>
  <div class="product-count" *ngIf="filteredProducts && filteredProducts.length">
    <div>
      <span>{{ filteredProducts.length }} / {{ products.length }}</span>
    </div>
  </div>
  <image-modal *ngIf="modalUrl" [url]="modalUrl" [name]="modalName" (closeModal)="clearModalUrl()"></image-modal>
</div>