<div class="product-list">
  <page-title [pageTitle]="pageTitle"></page-title>
  <div class="filter-input">
    <label>
      Filter By
      <input [(ngModel)]="listFilter" type="text">
      <button (click)="clearFilter()">Clear Filter</button>
    </label>
  </div>
  <div class="products" *ngIf="filteredProducts && filteredProducts.length">
    <div *ngFor="let product of filteredProducts" class="product" [class.showImage]="showImage" data-id="{{ product.productId }}">
      <div class="product-details">
        <h3>{{ product.productName }}</h3>
        <p>{{ product.price | currency: 'USD' : true }}</p>
        <div class="star-rating"><span class="rating">Rating: {{ product.starRating }}</span></div>
      </div>
      <p>{{ product.description }}</p>
      <img *ngIf="showImage" [src]="product.imageUrl" (click)="handleImageClick(product.imageUrl)" [alt]="product.productName" style="width: 20%; max-width: 100px;">
    </div>
  </div>
  <div *ngIf="!filteredProducts.length">
    No Products Found
  </div>
  <image-modal *ngIf="modalUrl" [url]="modalUrl" (closeModal)="clearModalUrl()"></image-modal>
</div>