.product-detail .heading {
  margin: 25px 0 50px;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

img {
  cursor: pointer;
}

.product-details {
  width: 50%;
}

.product-detail .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.quantity-container input {
  text-align: center;
  margin: 0 10px;
}

.button-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: auto;
}

.previous, .next {
  width: 75px;
  height: 35px;
  background: rgba(249,157,28,0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s;
}
.previous:hover, .next:hover {
  background:rgba(249,157,28,0.75)
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media screen and (max-width: 604px) {
  .product-details-container {
    margin-bottom: 25px;
  }
  .product-details-container img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  .product-details {
    margin: auto;
  }
}