.product-detail .heading {
  margin: 25px 0 50px;
}

.product-details-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 625px;
  margin: auto;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

img {
  cursor: pointer;
}
.product-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image-out-of-stock {
  position: absolute;
  top: 30%;
  color: red;
  font-size: 3em;
  transform: rotate(-15deg);
  padding: 5px;
  border: 5px solid;
  border-radius: 5px;
}
.product-details {
  width: 50%;
}

.product-detail .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
}

.product-detail .details p {
  font-weight: 800;
  letter-spacing: .75px;
}

.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.quantity-container input {
  text-align: center;
  margin: 0 10px;
}

.add-to-cart {
  cursor: pointer;
  width: 50%;
  margin: auto;
  border: 1px solid;
  padding: 5px;
  background: #004f5a;
  background:rgba(249,157,28,0.9);
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: .75px;
  transition: all .3s;
}
.button-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: auto;
}

.previous, .next {
  font-weight: 800;
  letter-spacing: .75px;
  width: 75px;
  height: 35px;
  background: rgba(249,157,28,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all .3s;
}
.previous:hover, .next:hover, .add-to-cart:hover {
  background:rgba(249,157,28,0.75)
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@media screen and (max-width: 604px) {
  .product-details-container {
    margin-bottom: 25px;
  }
  .product-details-container img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  .product-details {
    margin: auto;
  }
}