<div class="product-detail">
  <div *ngIf="product" style="text-align: center;">
    <page-title [pageTitle]="product.productName"></page-title>
    <div class="product-details-container">
      <img [src]="product.imageUrl" (click)="handleImageClick(product.imageUrl, product.productName)" alt="product.productName">
      <div class="product-details">
        <div class="details">
          <p>{{ product.description }}</p>
          <pm-star [rating]="product.rating"></pm-star>
          <p>{{ product.price | currency: 'USD' : true }}</p>
        </div>
        <div class="add-to-cart-container" *ngIf="product.quantity">
          <div class="quantity-container">
            <div (click)="handleAddQuantityClick()"><span>+</span></div>
            <input type="number" min="1" [max]="product.quantity" [(ngModel)]="quantity">
            <div (click)="handleMinusQuantityClick()"><span>-</span></div>
          </div>
          <div class="add-to-cart" (click)="handleAddToCart()">Add to Cart</div>
        </div>
        <div *ngIf="!product.quantity">
          <p style="color: red;">Out of Stock</p>
        </div>
      </div>
    </div>
    <div class="button-container">
      <a [routerLink]="['/products', previous.productId]"><div class="previous"><span>Previous</span></div></a>
      <a [routerLink]="['/products/' + next.productId]"><div class="next">Next</div></a>
    </div>
  </div>
  <image-modal *ngIf="modalUrl" [url]="modalUrl" [name]="modalName" (closeModal)="clearModalUrl()"></image-modal>
</div>
