/* You can add global styles to this file, and also import other style files */
html {
    overflow-x: hidden;
}

li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large;
}

a {
    color: #000 !important;
}

.product-list, .product-detail {
    position: relative;
    top: 75px;
}

input, textarea {
    outline: none;
}


.modal-container .content img {
    width: 40vw;
    max-width: 500px;
}

@media screen and (max-width: 604px) {
    .modal-container .content img {
        width: auto;
    }
}