<div class="cart-modal-container">
  <div class="nav-cart">
    <ul>
      <li (click)="openModal()">Cart</li>
      <li>({{ productsCount }})</li>
    </ul>
  </div>
</div>
<div class="cart-modal" [ngClass]="[isOpen ? 'open' : 'closed']">
  <div>
    <h2>Cart</h2>
  </div>
  <div class="cart-modal-content">
    <div *ngFor="let product of products">
      <h3 class="line-item">
        <a [routerLink]="['/products', product.productId]" class="product-link">{{ product.productName }}</a>
        &nbsp;<span>({{ product.quantity }})</span>
        &nbsp;-&nbsp;
        <span>{{ product.price | currency: 'USD' : true }}</span>
        &nbsp;<span class="remove" (click)="removeProduct(product)">X</span>
      </h3>
    </div>
    <h3 *ngIf="priceTotal > 0" class="price-total">{{ priceTotal | currency: 'USD' : true }}</h3>
    <div *ngIf="!products || !products.length" class="empty-cart">
      <h3>Empty Cart</h3>
    </div>
  </div>
  <div>
    <h3 class="cart-modal-close" (click)="closeModal()">Close</h3>
  </div>
</div>
